static/data/tree/tree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="site">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="node" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:key name="nodeId">
      <xs:selector xpath="nodes/node" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:keyref name="nodeRef" refer="nodeId">
      <xs:selector xpath=".//child | .//link" />
      <xs:field xpath="@ref" />
    </xs:keyref>
  </xs:element>

  <xs:element name="node">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="zoomedBody" type="bodyType" minOccurs="0" />
        <xs:element name="body" type="bodyType" />
        <xs:element name="children" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="child" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="ref" type="xs:IDREF" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>


  <xs:complexType name="inlineContent" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="a" type="aType" />
      <xs:element name="b" type="inlineContent" />
      <xs:element name="i" type="inlineContent" />
      <xs:element name="em" type="inlineContent" />
      <xs:element name="strong" type="inlineContent" />
      <xs:element name="span" type="inlineContent" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="aType" mixed="true">
    <xs:complexContent>
      <xs:extension base="inlineContent">
        <xs:attribute name="href" type="xs:anyURI" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="p" type="inlineContent" />
  <xs:element name="li" type="inlineContent" />

  <xs:element name="h2" type="inlineContent" />
  <xs:element name="h3" type="inlineContent" />
  <xs:element name="h4" type="inlineContent" />

  <xs:element name="ul">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="li" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="img">
    <xs:complexType>
      <xs:attribute name="src" type="xs:anyURI" use="required" />
      <xs:attribute name="alt" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="bodyType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="p" />
      <xs:element ref="h2" />
      <xs:element ref="h3" />
      <xs:element ref="h4" />
      <xs:element ref="ul" />
      <xs:element ref="img" />
    </xs:choice>
  </xs:complexType>

</xs:schema>
