static/data/tree/tree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="site">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="node" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:key name="nodeId">
      <xs:selector xpath="nodes/node" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:keyref name="nodeRef" refer="nodeId">
      <xs:selector xpath=".//child | .//link" />
      <xs:field xpath="@ref" />
    </xs:keyref>
  </xs:element>

  <xs:element name="node">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="zoomedBody" type="bodyType" minOccurs="0" />
        <xs:element name="body" type="bodyType" />
        <xs:element name="children" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="child" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="ref" type="xs:IDREF" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="bodyType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="p" type="xs:string" />
      <xs:element name="b" type="xs:string" />
      <xs:element name="i" type="xs:string" />
      <xs:element name="h2" type="xs:string" />
      <xs:element name="h3" type="xs:string" />
      <xs:element name="h4" type="xs:string" />

      <xs:element name="a">
        <xs:complexType mixed="true">
          <xs:attribute name="href" type="xs:anyURI" use="required" />
        </xs:complexType>
      </xs:element>

      <xs:element name="ul">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="li" type="xs:string" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="img">
        <xs:complexType>
          <xs:attribute name="src" type="xs:anyURI" use="required" />
          <xs:attribute name="alt" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>
