static/data/tree/tree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <xsd:element name="site">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="node" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:key name="nodeId">
      <xsd:selector xpath="nodes/node" />
      <xsd:field xpath="@id" />
    </xsd:key>

    <xsd:keyref name="nodeRef" refer="nodeId">
      <xsd:selector xpath=".//child | .//link" />
      <xsd:field xpath="@ref" />
    </xsd:keyref>
  </xsd:element>

  <xsd:element name="node">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="title" type="xsd:string" />
        <xsd:element name="zoomedBody" type="bodyType" minOccurs="0" />
        <xsd:element name="body" type="bodyType" />
        <xsd:element name="children" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="child" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:attribute name="ref" type="xsd:IDREF" use="required" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="required" />
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="bodyType" mixed="true">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="p" type="xsd:string" />
      <xsd:element name="b" type="xsd:string" />
      <xsd:element name="i" type="xsd:string" />
      <xsd:element name="h2" type="xsd:string" />
      <xsd:element name="h3" type="xsd:string" />
      <xsd:element name="h4" type="xsd:string" />

      <xsd:element name="a">
        <xsd:complexType mixed="true">
          <xsd:attribute name="href" type="xsd:anyURI" use="required" />
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ul">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="li" type="xsd:string" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="img">
        <xsd:complexType>
          <xsd:attribute name="src" type="xsd:anyURI" use="required" />
          <xsd:attribute name="alt" type="xsd:string" use="optional" />
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>

</xsd:schema>
